<?xml version="1.0"?>
<launch>
  <arg
    name="model" />
  <arg
    name="gui"
    default="False" />

  <param name="realsense_robot_description" command="$(find xacro)/xacro --inorder '$(find realsense2_description)/urdf/test_d435_camera.urdf.xacro'" />

  <node
    name="realsense_joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher">
	<remap from="robot_description" to="realsense_robot_description" />    
	<remap from="joint_states" to="realsense_joint_states" />
	</node>
  <node
    name="realsense_robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher">
	<remap from="robot_description" to="realsense_robot_description" />    
	<remap from="joint_states" to="realsense_joint_states" />     
	<remap from="tf_prefix" to="realsense_tf_prefix" /> 
	</node>
  <!--node
    name="kinectv2_rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find kinect_v2)/urdf.rviz" >
    <param name="use_gui" value="$(arg gui)" />
  </node-->
</launch>