<?xml version="1.0"?>
<robot name="realsense2_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
  
  <link name="root" />
  <xacro:sensor_d435 name="camera" topics_ns="camera" parent="root" publish_pointcloud="true">
    <origin xyz="2.2 0 1.6" rpy="0 0.349066 3.1415" />
  </xacro:sensor_d435>
  <gazebo>
    <static>true</static>
  </gazebo>	  
</robot>