<?xml version="1.0"?>
<robot name="realsense2_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
  
  <link name="root" />
  <xacro:sensor_d435 name="camera" topics_ns="camera" parent="root" publish_pointcloud="true">
    <origin xyz="1.5 0.0 0.96" rpy="0.0 0.0 3.141592" />
  </xacro:sensor_d435>
  <gazebo>
    <static>true</static>
  </gazebo>	  
</robot>
