<?xml version="1.0"?>
<robot name="realsense2_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
  
  <link name="root" />
  <xacro:sensor_d435 name="camera" parent="root">
    <origin xyz="-0.225 -0.345 1.23" rpy="0.009 0.35 1.535" />
  </xacro:sensor_d435>
  <gazebo>
    <static>true</static>
  </gazebo>	  
</robot>
